@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');


body{
    font-family: 'Roboto', 'Mulish', serif;
    font-size: 18px;
    overflow-x: hidden;
    padding: 0;
    /* background-color: #F7F7F7; */
    background-color: rgb(248, 248, 248);;
    color: rgb(95, 95, 95);
}

:root{
    scroll-margin-top: 0
    }

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
}
span{
    color: inherit;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

input, button{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto', 'Mulish', serif;
    cursor: pointer;
    color: rgb(95, 95, 95);
}

a, li{
    color: inherit;
    text-decoration: none;
    list-style: none;
}


/* заготовки */

.container{
    max-width: 1320px;
    margin: 0 auto;
}

button{
    border-radius: 30px;
    background-color: rgb(93, 141, 93);
    padding: 12px 30px;
    transition: ease all 0.3s;
    color: #fff;
}

button:hover{
    background-color: rgb(203, 233, 203);
    color: rgb(93, 141, 93);
}

/* header */

.menu {
    display: none;
}

header {
    background-color: rgba(255, 255, 255, 1);
    position: sticky;
}

.header-inner {
    display: flex;
    flex-direction: column;
}

.header-inner-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #e1e1e1 1px solid;
    padding: 10px 0;
}

.header-inner-top img {
    width: 10%;
}

.header-contact {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-contact-telephone {
    display: flex;
    gap: 10px;
}

.header-contact-telephone:hover {
    color: rgb(93, 141, 93)
}

.header-contact-telephone img {
    width: 10%;
}

.header-inner-bot nav ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-weight: 600;
}

.header-inner-bot nav ul a:hover {
    color: rgb(93, 141, 93);
}

/* index */

.carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    margin: 5% 0;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-item {
    position: relative;
}

.carousel-item h1 {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50%;
    color: #fff;
    font-size: 3em;
    line-height: 80px;
}

.carousel-item img {
    object-fit: cover;
}


.item-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(93, 141, 93, 1), rgba(0, 0, 0, 0));
}

.item-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(7, 99, 120, 1), rgba(0, 0, 0, 0));
}

.item-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(35, 116, 84, 1), rgba(0, 0, 0, 0));
}

.item-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(7, 99, 120, 1), rgba(0, 0, 0, 0));
}

.item-5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(21, 103, 99, 1), rgba(0, 0, 0, 0));
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 20px;
    background-image: url('../img/bg-abouttt-2.webp');
    border-radius: 30px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, .3);
}

.about img {
    border-radius: 30px;
    width: 40%;
    height: 100%;
}

.about-text {
    color: rgba(21, 103, 99, 1);
    text-align: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.about-text h1 {
    font-size: 3em;
    font-weight: 700;
}

.about-text-wrapper {
    display: flex;
    gap: 20px;
}

.about-text-wrapper p {
    font-size: 20px;
    line-height: 30px;
}

.border {
    height: 40px;
    min-width: 8px;
    background-color: rgba(21, 103, 99, 0.5);
    border-radius: 20px;
}

.plus {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
}

.plus-item {
    text-align: center;
    width: 28%;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 30px;
}

.plus-item img {
    width: 20%;
    align-self: center;
}

.catalog {
    width: 100%;
    padding: 5% 0;
    background: linear-gradient(0deg, rgba(35, 116, 84, 1), rgba(0, 0, 0, 0));
}

.cards {
    color: rgba(21, 103, 99, 1);
    text-align: center;
}

.cards h1 {
    font-size: 30px;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.cards-wrapper-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
}

.cards-wrapper a, .cards-wrapper-2 a {
    border-radius: 30px;
    background-color: #fff;
    padding: 20px;
    width: 28%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: .3s;
}

.cards-wrapper a img, .cards-wrapper-2 a img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin-bottom: 20px;
}

.cards-wrapper a:hover, .cards-wrapper-2 a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.feedback {
    width: 100%;
    padding: 50px 0 50px 50px;
    margin: 5% 0;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feedback h1 {
    font-size: 30px;
}

.feedback input {
    width: 20%;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #e1e1e1;
    margin-top: 10px; 
    color: rgb(93, 141, 93);
    
}

.feedback input::placeholder {
    color: rgba(0, 0, 0, .3);
}

.feedback button {
    margin-top: 20px;
}

/* футер */

footer {
    background-color: #fff;
    padding: 20px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-item img {
    width: 50%;
}

.footer-item a:hover {
    color: rgb(93, 141, 93);
}

.footer-contact-telephone  {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.footer-contact-telephone img {
    width: 5%;
}

/* страница каталога */

.store-page {
    margin-right: 10%;
    margin-left: 2%;
}

.title {
    text-align: center;
    font-size: 50px;
    margin-top: 3%;
}

.search-container {
    border: #ddd solid 1px;
    text-align: center;
    border-radius: 30px;
    margin-top: 3%;
}

.search-container input {
    width: 80%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 5% 0;
}

.filter-container {
    position: relative;
    display: inline-block;
    width: 70%;
    text-align: center;
    max-width: 500px;
}

.filter-btn {
    display: none;
}

.filter-dropdown {
    display: block;
    position: sticky;
    top: 20px;
    background-color: white;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1;
    min-width: 400px;
    max-width: 400px;
    border-radius: 30px;
}

.filter-section {
    margin-bottom: 15px;
}

.filter-section label {
    display: block;
    margin-bottom: 5px;
}

.filter-section select {
    width: 80%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.apply-filters-btn {
    width: 50%;
}

.filter-dropdown option {
    color: rgb(93, 141, 93);
}

.store {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.store-card {
    width: calc(28%);
    min-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    min-height: 530px;
    max-height: 530px;
}

.store-card:hover {
    box-shadow: 0 0 12px rgba(93, 141, 93, 1);
}

.store-card img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}

.store-card h1 {
    height: 30%;
}

/* страница товара*/

.product {
    margin-top: 5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.product-wrapper {
    display: flex;
    gap: 50px;
}

.product-wrapper img {
    object-fit: contain;
}

.product-desc h1 {
    font-size: 30px;
    line-height: 40px;
    color: rgb(93, 141, 93);
}
.product-desc p {
    margin: 20px 0;
}

.product-desc ul {
    line-height: 30px;
}

.description {
    margin-top: 5%;
    padding: 40px;
}

.description h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 430px) {
    /* index */

    .carousel-images {
        width: 100%;
    }

    .carousel-item {
        width: 100%;
    }

    .carousel-item h1 {
        font-size: 2em;
        width: 90%;
        line-height: 60px;
    }

    .about {
        flex-direction: column;
        margin: 0 5%;
    }

    .about img {
        width: 100%;
    }

    .about h1 {
        text-align: center;
    }

    .plus {
        flex-direction: column;
        padding: 0 5%;
    }

    .plus-item {
        width: 100%;
        margin-bottom: 5%;
    }

    .cards-wrapper {
        flex-direction: column;
        padding: 0 5%;
    }

    .cards-wrapper a {
        width: 100%;
        margin-bottom: 5%;

    }

    .cards-wrapper-2 {
        flex-direction: column;
        padding: 0 5%;
        margin-top: 0;
    }

    .cards-wrapper-2 a {
        width: 100%;
        margin-bottom: 5%;
        
    }

    .feedback {
        width: 100%;
        text-align: center;
        padding: 20px 10px;
    }

    .feedback form div {
        display: flex;
        flex-direction: column;
    }

    .feedback form div input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* header*/

    .menu {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
      
    .burger {
        position: relative;
        z-index: 101;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
      }
      
    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
      }
      
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
      
    .menu-list {
        top: -20px;
        left: -20px;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: rgb(93, 141, 93);
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 400px;
        z-index: 100;
      }
      
    .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
      }

    .menu {
        display: block;
    }
      
    .header-inner {
        padding: 20px;
    }  

    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
      }

    .header-inner-bot {
        display: none;
    }

    .header-contact {
        flex-direction: column;
    }

    .logo {
        width: 40%;
    }

    .header-inner-top  img{
        width: 40%;
    }

    .header-contact-telephone img {
        width: 10%;
    }

    /* footer*/

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-item {
        text-align: center;
        width: 100%;
        margin-top: 5%;
    }

    .footer-item img {
        align-self: center;
    }

    .footer-contact-telephone {
        justify-content: center;
    }

    /* store */

    .store-page {
        margin: 0;
    }

    .wrapper {
        flex-direction: column;
    }

    .store {
        flex-direction: column;
        padding: 0 20px;
        gap: 20px;
    }

    .store-card {
        width: 100%;

    }

    .filter-container {
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    
    .filter-btn {
        width: 50%;
        display: inline-block;  
    }
    
    .filter-dropdown {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        padding: 15px;
        z-index: 1;
        min-width: 200px;
        width: 100%;
        border-radius: 30px;
    }
    
    .filter-section {
        margin-bottom: 15px;
    }
    
    .filter-section label {
        display: block;
        margin-bottom: 5px;
    }
    
    .filter-section select {
        width: 80%;
        padding: 8px;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    
    .apply-filters-btn {
        width: 50%;
    }
    
    
    .filter-dropdown.show {
        display: block;
    }

    .filter-dropdown option {
        color: rgb(93, 141, 93);
    }

    /*product*/

    .product-wrapper {
        flex-direction: column;
    }

    .search-container {
        padding: 10px;
    }

    .search-container input {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
}




