@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');


body{
    font-family: 'Roboto', 'Mulish', serif;
    font-size: 18px;
    overflow-x: hidden;
    padding: 0;
    /* background-color: #F7F7F7; */
    background-color: rgb(248, 248, 248);;
    color: rgb(95, 95, 95);
}

:root{
    scroll-margin-top: 0
    }

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
}
span{
    color: inherit;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

input, button{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto', 'Mulish', serif;
    cursor: pointer;
    color: rgb(95, 95, 95);
}

a, li{
    color: inherit;
    text-decoration: none;
    list-style: none;
}


/* заготовки */

.container{
    max-width: 1320px;
    margin: 0 auto;
}

button{
    border-radius: 30px;
    background-color: rgb(93, 141, 93);
    padding: 12px 30px;
    transition: ease all 0.3s;
    color: #fff;
}

button:hover{
    background-color: rgb(203, 233, 203);
    color: rgb(93, 141, 93);
}

/* header */

header {
    background-color: rgba(255, 255, 255, 1);
    position: sticky;
}

.header-inner {
    display: flex;
    flex-direction: column;
}

.header-inner-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #e1e1e1 1px solid;
    padding: 10px 0;
}

.header-inner-top img {
    width: 10%;
}

.header-contact {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-contact-telephone {
    display: flex;
    gap: 10px;
}

.header-contact-telephone:hover {
    color: rgb(93, 141, 93)
}

.header-contact-telephone img {
    width: 10%;
}

.header-inner-bot nav ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-weight: 600;
}

.header-inner-bot nav ul a:hover {
    color: rgb(93, 141, 93);
}

/* index */

.carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    margin: 5% 0;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-item {
    position: relative;
}

.carousel-item h1 {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50%;
    color: #fff;
    font-size: 3em;
    line-height: 80px;

}

.carousel-item img {
    object-fit: cover;
}


.item-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(93, 141, 93, 1), rgba(0, 0, 0, 0));
}

.item-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(7, 99, 120, 1), rgba(0, 0, 0, 0));
}

.item-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(35, 116, 84, 1), rgba(0, 0, 0, 0));
}

.item-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(7, 99, 120, 1), rgba(0, 0, 0, 0));
}

.item-5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(21, 103, 99, 1), rgba(0, 0, 0, 0));
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 20px;
    background-image: url('img/bg-abouttt-2.webp');
    /* font-weight: 500; */
    border-radius: 30px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, .3);
}

.about img {
    border-radius: 30px;
    width: 530px;
    height: 100%;
}

.about-text {
    color: rgba(21, 103, 99, 1);
    text-align: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.about-text h1 {
    font-size: 3em;
    font-weight: 700;
}

.about-text-wrapper {
    display: flex;
    gap: 20px;
}

.about-text-wrapper p {
    font-size: 20px;
    line-height: 30px;
}

.border {
    height: 40px;
    min-width: 8px;
    background-color: rgba(21, 103, 99, 0.5);
    border-radius: 20px;
}

.plus {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
}

.plus-item {
    text-align: center;
    width: 28%;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 30px;
}

.plus-item img {
    width: 20%;
    align-self: center;
}


