@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: 'Roboto', 'Mulish', serif;
    margin: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: rgb(93, 141, 93);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

textarea {
    height: 300px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

select {
    height: 40px;
    font-size: 15px;
}

.directs {
    border: 1px #ccc solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#direct1, #direct2, #direct3, #direct4, #direct5, #direct6 {
    width: 20px;
}

